[Desktop Entry]
Type=Application
Version=1.0
Name={{name}}
GenericName=Terminal
Comment={{comment}}
Exec={{exec}} %F
Icon={{icon}}
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;cmd;terminal;console;
StartupNotify=true
StartupWMClass=Sampa
