:root {
  --bg: #16161e;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background: var(--bg);
  overflow: hidden;
}

#terminal {
  position: fixed;
  inset: 0;
  padding: 8px 4px 8px 10px;
}

.xterm {
  height: 100%;
}
